.homeStyle{
    padding-top: 50px;
    width: 50%;
    margin: auto;
    list-style: square;
}

button{
    padding: 5px;
    margin: 5px;
}

.style{
    padding-left: 10px;
   
}

li{
    padding: 5px 20px;
}

div li {
    text-align: left;
}